<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.bradyhigginbotham.r3" android:versionCode="3"
	android:versionName="1.2">
	<uses-sdk android:minSdkVersion="8" />

	<!-- TI_MANIFEST -->

	<application android:icon="@drawable/appicon"
		android:label="AITP R3" android:name="AitpR3Application"
		android:debuggable="false">

		<service android:name="com.appcelerator.cloud.push.PushService"/><receiver android:name="ti.cloudpush.IntentReceiver"/><receiver android:name="ti.cloudpush.CustomReceiver">
					<intent-filter>
						<action android:name="android.intent.action.BOOT_COMPLETED"/>
						<action android:name="android.intent.action.USER_PRESENT"/>
						<action android:name="com.appcelerator.cloud.push.PushService.MSG_ARRIVAL"/>
						<category android:name="android.intent.category.HOME"/>
					</intent-filter>
					<meta-data android:name="com.appcelerator.cloud.push.BroadcastReceiver.ArrivalActivity" android:value="ti.cloudpush.CustomReceiver"/>
				</receiver>

		<activity android:name=".AitpR3Activity"
			android:label="AITP R3" android:theme="@style/Theme.Titanium"
			android:configChanges="keyboardHidden|orientation"
			android:screenOrientation="portrait">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

		<activity 
		android:name="ti.modules.titanium.media.TiCameraActivity"
		android:configChanges="keyboardHidden|orientation"
		android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen"
		android:screenOrientation="portrait"
    />

		<activity
    		android:name="ti.modules.titanium.map.TiMapActivity"
    		android:configChanges="keyboardHidden|orientation"
    		android:screenOrientation="portrait"
    		android:launchMode="singleTask"
    	/>
	<uses-library android:name="com.google.android.maps" />

		<activity android:name="org.appcelerator.titanium.TiActivity"
			android:configChanges="keyboardHidden|orientation"
			android:screenOrientation="portrait" />
		<activity android:name="org.appcelerator.titanium.TiTranslucentActivity"
			android:configChanges="keyboardHidden|orientation"
			android:theme="@android:style/Theme.Translucent"
			android:screenOrientation="portrait" />
		<activity android:name="org.appcelerator.titanium.TiModalActivity"
			android:configChanges="keyboardHidden|orientation"
			android:theme="@android:style/Theme.Translucent"
			android:screenOrientation="portrait" />
		<activity android:name="ti.modules.titanium.ui.TiTabActivity"
			android:configChanges="keyboardHidden|orientation"
			android:screenOrientation="portrait" />
		<activity android:name="ti.modules.titanium.ui.android.TiPreferencesActivity"
			android:screenOrientation="portrait" />

		<service android:name="org.appcelerator.titanium.analytics.TiAnalyticsService"
			android:exported="false" />
		

	</application>

	<uses-permission android:name="android.permission.VIBRATE"/>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
	<uses-permission android:name="android.permission.CAMERA"/>
	<uses-permission android:name="android.permission.READ_PHONE_STATE"/>
	<uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
	

</manifest>